<div *ngIf="isActive" class="fixed  inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <form [formGroup]="reunionForm" (ngSubmit)="onSubmit()" class="space-y-6 bg-white w-1/2 h-[600px] overflow-auto border border-double p-6 pt-0 rounded-lg shadow-xl">
    <h3 class="text-2xl font-bold sticky pt-2 w-full bg-gray-200/30  rounded-md backdrop-blur-md top-0 text-center"><span class="font-bold">Planifier une Réunion</span></h3>

    <!-- Type de Réunion -->
    <div class="flex flex-col justify-center items-center">
      <div class="flex items-center space-x-4">
        <label for="interne" class="flex items-center">
          <input id="interne" type="radio" formControlName="reunionType" value="interne" class="mr-2" />
          Interne
        </label>
        <label for="externe" class="flex items-center">
          <input id="externe" type="radio" formControlName="reunionType" value="externe" class="mr-2" />
          Externe
        </label>
      </div>
    </div>

    <!-- Objet -->
    <div class="flex flex-col">
      <label for="objet" class="mb-2 font-semibold text-gray-700">Objet:</label>
      <input id="objet" formControlName="objet" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-800" />
    </div>

    <!-- Date et Lieu de Réunion -->
    <div class="grid grid-cols-2 gap-x-6">
      <div class="flex flex-col">
        <label for="dateReunion" class="mb-2 font-semibold text-gray-700">Date de Réunion:</label>
        <input id="dateReunion" type="datetime-local" formControlName="dateReunion" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-800" />
      </div>
      <div class="flex flex-col">
        <label for="lieu" class="mb-2 font-semibold text-gray-700">Lieu:</label>
        <input id="lieu" formControlName="lieu" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-800" />
      </div>
    </div>

    <hr class="w-1/2 mx-auto">

    <!-- Accordéon pour Responsable, Participants, Logistique, et Observation -->
    <div id="accordion-collapse" data-accordion="collapse">
      
      <!-- Responsable -->
      <h6 id="accordion-collapse-heading-1">
        <button type="button" class="flex items-center text-lg justify-between w-full p-5 font-medium text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" (click)="toggleAccordion(0)" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
          <span>Responsable</span>
          <svg data-accordion-icon [ngClass]="{'rotate-180': accordionOpenStates[0]}" class="w-3 h-3 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h6>
      <div id="accordion-collapse-body-1" [ngClass]="{'hidden': !accordionOpenStates[0]}" aria-labelledby="accordion-collapse-heading-1">
        <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
          <!-- Formulaire pour Responsable -->
          <div formArrayName="responsablesMail" class="space-y-2">
            <div *ngIf="reunionForm.get('reunionType')?.value === 'interne'; else manualResponsables">
              <div *ngFor="let control of responsablesMail.controls; let i = index">
                <select [formControlName]="i" class="w-full p-2 border border-gray-300 rounded-md">
                  <option *ngFor="let chef of chefs" [value]="chef.email">{{ chef.nom }} {{ chef.prenoms }}</option>
                </select>
              </div>
            </div>
            <ng-template #manualResponsables>
              <div *ngFor="let control of responsablesMail.controls; let i = index">
                <input [formControlName]="i" class="w-full p-2 border border-gray-300 rounded-md" />
              </div>
            </ng-template>
            <button type="button" (click)="addResponsableMail()" class="mt-2 p-2 bg-blue-800 text-white rounded-md">Ajouter Responsable</button>
          </div>
        </div>
      </div>

      <!-- Participants -->
      <h6 id="accordion-collapse-heading-2">
        <button type="button" class="flex items-center text-lg justify-between w-full p-5 font-medium text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" (click)="toggleAccordion(1)" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
          <span>Participants</span>
          <svg data-accordion-icon [ngClass]="{'rotate-180': accordionOpenStates[1]}" class="w-3 h-3 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h6>
      <div id="accordion-collapse-body-2" [ngClass]="{'hidden': !accordionOpenStates[1]}" aria-labelledby="accordion-collapse-heading-2">
        <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
          <!-- Formulaire pour Participants -->
          <div formArrayName="participantsMail" class="space-y-2">
            <div *ngIf="reunionForm.get('reunionType')?.value === 'interne'; else manualParticipants">
              <div *ngFor="let control of participantsMail.controls; let i = index">
                <select [formControlName]="i" class="w-full p-2 border border-gray-300 rounded-md">
                  <option *ngFor="let chef of chefs" [value]="chef.email">{{ chef.nom }} {{ chef.prenoms }}</option>
                </select>
              </div>
            </div>
            <ng-template #manualParticipants>
              <div *ngFor="let control of participantsMail.controls; let i = index">
                <input [formControlName]="i" class="w-full p-2 border border-gray-300 rounded-md" />
              </div>
            </ng-template>
            <button type="button" (click)="addParticipantMail()" class="mt-2 p-2 bg-blue-800 text-white rounded-md">Ajouter Participant</button>
          </div>
        </div>
      </div>

      <!-- Logistique -->
      <h6 id="accordion-collapse-heading-3">
        <button type="button" class="flex items-center text-lg justify-between w-full p-5 font-medium text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" (click)="toggleAccordion(2)" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
          <span>Logistique</span>
          <svg data-accordion-icon [ngClass]="{'rotate-180': accordionOpenStates[2]}" class="w-3 h-3 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h6>
      <div id="accordion-collapse-body-3" [ngClass]="{'hidden': !accordionOpenStates[2]}" aria-labelledby="accordion-collapse-heading-3">
        <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
          <!-- Formulaire pour Logistique -->
          <div formArrayName="logistique" class="space-y-2">
            <div *ngFor="let control of logistique.controls; let i = index">
              <input [formControlName]="i" class="w-full p-2 border border-gray-300 rounded-md" />
            </div>
            <button type="button" (click)="addLogistique()" class="mt-2 p-2 bg-blue-800 text-white rounded-md">Ajouter Logistique</button>
          </div>
        </div>
      </div>

      <!-- Observation -->
      <h6 id="accordion-collapse-heading-4">
        <button type="button" class="flex items-center text-lg justify-between w-full p-5 font-medium text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" (click)="toggleAccordion(3)" data-accordion-target="#accordion-collapse-body-4" aria-expanded="false" aria-controls="accordion-collapse-body-4">
          <span>Observation</span>
          <svg data-accordion-icon [ngClass]="{'rotate-180': accordionOpenStates[3]}" class="w-3 h-3 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h6>
      <div id="accordion-collapse-body-4" [ngClass]="{'hidden': !accordionOpenStates[3]}" aria-labelledby="accordion-collapse-heading-4">
        <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
          <div formArrayName="observations">
            <div *ngFor="let observation of observations.controls; let i = index">
              <textarea [formControlName]="i" class="w-full p-2 border border-gray-300 rounded-md"></textarea>
            </div>
            <button type="button" (click)="addObservation()" class="mt-2 p-2 bg-blue-800 text-white rounded-md">Ajouter Observation</button>
          </div>
        </div>
      </div>
    </div>

    <div class="sticky bottom-0 w-full h-auto p-auto flex flex-row justify-between gap-1 ">
      <button type="submit" class="w-1/2 p-2  bg-blue-600 text-white rounded-md hover:bg-blue-700">Planifier</button>
      <button type="button" class="w-1/2 bg-gray-200 text-black rounded-md  hover:dark:bg-gray-300" (click)="closeModal()" >annuler</button>
    </div>
  </form>
</div>