<h5 class="text-lg font-semibold mb-4">Insertion de PTA</h5>
<form [formGroup]="ptaForm" (ngSubmit)="onSubmit()" class="space-y-4">
  <label for="large" class="block text-base font-medium text-gray-900 dark:text-white">PTA & Activité</label>
  
  <select id="large" formControlName="typeDePta" 
          class="block w-full px-4 py-2 text-base text-gray-900 border border-gray-300 rounded-lg 
                 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 
                 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
                 dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value="DGBF">DGBF</option>
    <option value="DSP">DSP</option>
    <option value="SERVICE">SERVICE</option>
    <option value="MEF">MEF</option>
    <option value="PROG_130">PROG 130</option>
    <option value="EXECUTION_DAAF">EXECUTION DAAF</option>
    <option value="EXECUTION_SSB">EXECUTION SSB</option>
    <option value="FEUILLE_DE_ROUTE">FEUILLE DE ROUTE</option>
    <option value="PIP">PIP</option>
    <option value="PSMFP">PSMFP</option>
    <option value="EXECUTION_BUDGETAIRE_DSP_DGEAE">EXECUTION BUDGETAIRE DSP DGEAE</option>
    <option value="GRANDES_REALISATIONS">GRANDES REALISATIONS</option>
    <option value="CEB">CEB</option>
    <option value="CODE_DE_LA_SOLDE">CODE DE LA SOLDE</option>
    <option value="AUTRE">AUTRE</option>
  </select>

  <input id="titre" type="text" formControlName="titre" placeholder="Titre du PTA" 
         class="block w-full px-4 py-2 text-base text-gray-900 border border-gray-300 rounded-lg 
                bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 
                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
                dark:focus:ring-blue-500 dark:focus:border-blue-500"/>

  <label for="file-upload" class="flex items-center space-x-2 text-gray-900 dark:text-white cursor-pointer">
    <mat-icon>attach_file</mat-icon>
    <span>Choisir un fichier</span>
  </label>
  <input id="file-upload" type="file" (change)="onFileChange($event)" hidden>

  <span *ngIf="selectedFileName" class="block text-sm text-gray-500 dark:text-gray-400">{{ selectedFileName }}</span>

  <button type="submit" 
          class="w-full py-2 px-4 bg-blue-600 text-white rounded-lg hover:bg-blue-700 
                 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
    Archiver
  </button>
</form>
