
<div class="title">
  <h5 class="text-lg font-semibold">Enregistrement des UC</h5>
</div>

<div class="w-full max-w-2xl mx-auto">
  <div class="flowbite-stepper">
    <ol class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base">
      <li class="flex md:w-full items-center" [ngClass]="{'text-blue-600 dark:text-blue-500': currentStep === 1, 'text-gray-500 dark:text-gray-400': currentStep !== 1}">
        <span class="flex items-center after:content-[''] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
          <svg *ngIf="currentStep === 1" class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
          </svg>
          <span *ngIf="currentStep !== 1" class="me-2">1</span>
          Informations de base
        </span>
        <div class="flex-1 border-t border-gray-300 mx-4"></div>
      </li>
      <li class="flex md:w-full items-center" [ngClass]="{'text-blue-600 dark:text-blue-500': currentStep === 2, 'text-gray-500 dark:text-gray-400': currentStep !== 2}">
        <span class="flex items-center after:content-[''] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
          <svg *ngIf="currentStep === 2" class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
          </svg>
          <span *ngIf="currentStep !== 2" class="me-2">2</span>
          Attributions
        </span>
        <div class="flex-1 border-t border-gray-300 mx-4"></div>
      </li>
      <li class="flex items-center" [ngClass]="{'text-blue-600 dark:text-blue-500': currentStep === 3, 'text-gray-500 dark:text-gray-400': currentStep !== 3}">
        <svg *ngIf="currentStep === 3" class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
        </svg>
        <span *ngIf="currentStep !== 3" class="me-2">3</span>
        Mot 
      </li>
    </ol>

    <div class="stepper-content mt-8">
      <div *ngIf="currentStep === 1">
        <form [formGroup]="firstFormGroup" class="space-y-4">
          <div class="form-group">
            <label class="block text-sm font-medium text-gray-700">Numero</label>
            <input type="text" formControlName="numero" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
          </div>

          <div class="form-group">
            <label class="block text-sm font-medium text-gray-700">Nom</label>
            <input type="text" formControlName="nom" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
          </div>

          <div class="form-group">
            <label class="block text-sm font-medium text-gray-700">Prénoms</label>
            <input type="text" formControlName="prenoms" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
          </div>

          <div class="form-group">
            <label class="block text-sm font-medium text-gray-700">Email</label>
            <input type="email" formControlName="email" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
          </div>

          <div class="form-group">
            <label class="block text-sm font-medium text-gray-700">Contact</label>
            <input type="text" formControlName="contact" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
          </div>

          <div class="form-group">
            <label class="block text-sm font-medium text-gray-700">Type de Chef</label>
            <select formControlName="typeDeChef" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
              <option value="UC">UC</option>
              <option value="DAF">DAF</option>
              <option value="SERVICE_CENTRAUX">SERVICE_CENTRAUX</option>
              <option value="SERVICE_REGIONAUX">SERVICE_REGIONAUX</option>
              <option value="DIVISION">DIVISION</option>
              <option value="BUREAUX">BUREAUX</option>
              <option value="ANTENNES_CIRFIN">ANTENNES_CIRFIN</option>
            </select>
          </div>

          <div class="form-group">
            <label class="block text-sm font-medium text-gray-700">Photos</label>
            <input type="file" (change)="onFileChange($event)" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
          </div>


          <div class="flex justify-between">
            <button type="button" (click)="prevStep()" class="px-4 py-2 bg-gray-600 text-white rounded-md">Précédent</button>
            <button type="button" (click)="nextStep()" class="px-4 py-2 bg-blue-600 text-white rounded-md">Suivant</button>
          </div>
        </form>
      </div>

      <div *ngIf="currentStep === 2">
        <form [formGroup]="secondFormGroup" class="space-y-4">
          <div class="form-group">
            <button type="button" (click)="addAttribution()" class="px-4 py-2 bg-green-600 text-white rounded-md">Ajouter Attribution</button>
          </div>
          <div class="form-group" formArrayName="attributions">
            <div *ngFor="let attribution of attributions.controls; let i = index" [formGroupName]="i" class="space-y-2">
              <label class="block text-sm font-medium text-gray-700">Attribution {{i + 1}}</label>
              <textarea formControlName="attribution" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"></textarea>
            </div>
          </div>

          <div class="flex justify-between">
            <button type="button" (click)="prevStep()" class="px-4 py-2 bg-gray-600 text-white rounded-md">Précédent</button>
            <button type="button" (click)="nextStep()" class="px-4 py-2 bg-blue-600 text-white rounded-md">Suivant</button>
          </div>
        </form>
      </div>

      <div *ngIf="currentStep === 3">
        <form [formGroup]="thirdFormGroup" class="space-y-4">
          <div class="form-group">
            <button type="button" (click)="addMotDuChef()" class="px-4 py-2 bg-green-600 text-white rounded-md">Ajouter Mot du Chef</button>
          </div>
          <div class="form-group" formArrayName="motDuChefs">
            <div *ngFor="let motDuChef of motDuChefs.controls; let i = index" [formGroupName]="i" class="space-y-2">
              <label class="block text-sm font-medium text-gray-700">Paragraphe {{i + 1}}</label>
              <textarea formControlName="paragraphe" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"></textarea>
            </div>
          </div>

          <div class="flex justify-between">
            <button type="button" (click)="prevStep()" class="px-4 py-2 bg-gray-600 text-white rounded-md">Précédent</button>
            <button type="button" (click)="onSubmit()" class="px-4 py-2 bg-blue-600 text-white rounded-md">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>