<div class="text-center flex flex-col items-center justify-center h-screen">

    <div class="w-1/2">
        <h3 class="font-bold text-red-600 mb-4">Accès Refusé</h3>
        <p class="text-xl text-gray-700 dark:text-zinc-200 mb-6">
            Bravo, tu viens de prouver qu'il y a un niveau encore plus bas à atteindre... Pas d'accès pour toi, pauvre con. 🚫 <br>
            Respecte ta place.
        </p>
    
        <a href="/home" class="px-6 py-3 bg-sky-800 text-white rounded-md hover:bg-sky-900 transition duration-300 ease-in-out">
            Retourner à l'accueil
        </a>
    </div>

</div>
