<div class="manuel-container">
    <div class="manuel-titre">
      <h4>Manuels de procédures</h4>
    </div>
  
    <mat-tab-group>
      <mat-tab label="Réunion">
        <div>
          <h3>Planification de la Réunion</h3>
          <p>1. Définir l'objectif :</p>
          <p>Identifier le but principal de la réunion</p>
          <p>2. Choisir la date et l'heure de la réunion :</p>
          <p>Confirmer la date et l'heure qui conviennent à la majorité des participants</p>
          <p>3. Préparer l'ordre du jour :</p>
          <p>Lister les sujets à discuter</p>
          <p>4. Désigner les responsables de la réunion :</p>
          <p>Confirmer la date et l'heure qui conviennent à la majorité des participants</p>
          <p>5. Inviter les participants :</p>
          <p>Déléguer un courrier pour inviter les participants</p>
          <h3>Fiche de présence</h3>
          <p>- Seules les personnes ayant des rôles nécessaires peuvent signer la feuille de présence des participants à de la réunion</p>
          <p>- Dans la fiche de présence, indiquez les participants invités ayant assisté à la réunion</p>
        </div>
      </mat-tab>
      <mat-tab label="Enregistrement des informations">
        <div>
          <h3>Procédure d'Insertion de Données</h3>
          <p>1.1 Accéder au formulaire de saisie de données :</p>
          <p>- Accédez à la section "chef de la DSP", puis sélectionnez "Chef..." dans le menu principal.</p>
          <p>- Cliquez sur le bouton "Ajouter des données"</p>
          <p>1.2 Remplir le formulaire de saisie :</p>
          <p>1.3 Vérifier les données saisies :</p>
          <p>1.4 Soumettre le formulaire :</p>
          <h3>Procédure pour la modification de Données</h3>
          <p>2.1 Modification des données :</p>
          <p>- Accédez à la section "chef de la DSP", puis sélectionnez "Chef..." dans le menu principal.</p>
          <p>- Cliquez sur le bouton "Modifier"</p>
          <p>Remarque : Ces fonctionnalités sont réservées aux utilisateurs disposant d'un compte de type administrateur</p>
          <p>Toutes les actions réalisées sont enregistrées avec les informations de l'utilisateur ayant effectué ces actions, pour des raisons de sécurité</p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>