<div class="h-screen  z-50  " > 
  <div class="w-full h-full !p-4 max-w-md mx-auto  flex flex-col justify-center items-center ">
    <div class="w-full md:!min-w-[450px] !mx-2 h-auto  bg-white dark:bg-sky-900/20 backdrop-blur-lg shadow-lg rounded-lg p-6 m-3 ">
      <p class="text-xl font-medium text-left dark:text-zinc-200">Créer un compte</p>

      <!-- Formulaire de création de compte -->
      <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()" class="space-y-6 mt-6">
        <!-- Champ numéro -->
        <div>
          <label for="numero" class="block text-sm font-medium text-gray-700 dark:text-zinc-300">Numéro</label>
          <input id="numero" formControlName="numero" type="text" placeholder="+261 xx xx xxx xx" class="mt-1 block w-full px-3 py-2 bg-zinc-100 dark:bg-sky-950 border border-gray-300 dark:border-zinc-400/30 dark:text-zinc-100 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-sky-700 dark:focus:border-sky-700 sm:text-sm">
          <p *ngIf="createAccountForm.get('numero')?.hasError('minlength')" class="text-red-500 text-xs mt-1">Le numéro doit comporter au moins 8 caractères</p>
        </div>

        <!-- Champ mot de passe -->
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700 dark:text-zinc-300">Mot de passe</label>
          <input id="password" formControlName="password" type="password" placeholder="••••••••" class="mt-1 block w-full px-3 py-2 bg-zinc-100 dark:bg-sky-950 border border-gray-300 dark:border-zinc-400/30 dark:text-zinc-100 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-sky-700 dark:focus:border-sky-700 sm:text-sm">
          <p *ngIf="createAccountForm.get('password')?.hasError('minlength')" class="text-red-500 text-xs mt-1">Le mot de passe doit comporter au moins 8 caractères</p>
          <p *ngIf="createAccountForm.get('password')?.hasError('pattern')" class="text-red-500 text-xs mt-1">Le mot de passe doit contenir au moins une majuscule, un chiffre et un caractère spécial</p>
        </div>

        <!-- Champ email -->
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700 dark:text-zinc-300">Email</label>
          <input id="email" formControlName="email" type="email" placeholder="votre-email@example.com" class="mt-1 block w-full px-3 py-2 bg-zinc-100 dark:bg-sky-950 border border-gray-300 dark:border-zinc-400/30 dark:text-zinc-100 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-sky-700 dark:focus:border-sky-700 sm:text-sm">
          <p *ngIf="createAccountForm.get('email')?.invalid && createAccountForm.get('email')?.touched" class="text-red-500 text-xs mt-1">Veuillez entrer un email valide</p>
        </div>

        <!-- Champ type de compte -->
        <div>
          <label for="accountType" class="block text-sm font-medium text-gray-700 dark:text-zinc-300">Type de compte</label>
          <select id="accountType" formControlName="accountType" class="mt-1 block w-full px-3 py-2 bg-gray-100 dark:bg-sky-950 dark:text-zinc-100 border border-gray-300 dark:border-zinc-400/30 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-sky-700 dark:focus:border-sky-700 sm:text-sm">
            <option *ngFor="let type of accountTypes" [value]="type">{{ type }}</option>
          </select>
        </div>

        <!-- Champs cachés -->
        <input type="hidden" formControlName="accountStatus" value="OFFLINE">
        <input type="hidden" formControlName="accountState" value="INACTIVE">

        <!-- Bouton de soumission -->
        <div>
          <button type="submit" class="w-full bg-sky-900 dark:bg-yellow-500 dark:hover:bg-yellow-600 text-white py-2 rounded-md hover:bg-sky-950 transition duration-300">Créer un compte</button>
        </div>
      </form>

      <!-- Lien connexion -->
      <div class="mt-6">
        <p class="text-sm text-gray-500 dark:text-zinc-100">Vous avez déjà un compte ? <a routerLink="/login" class="text-blue-900 dark:text-zinc-200 no-underline dark:underline">Connexion</a></p>
      </div>
    </div>
  </div>
</div>


<!-- Spinner -->
<div class="text-center h-full w-full bg-black/10 !z-[1000] fixed inset-0 flex items-center justify-center  " *ngIf="isLoading">
  <div role="status">
    <svg aria-hidden="true" class="inline w-12 h-12 text-gray-200 animate-spin dark:text-gray-600 fill-blue-950" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
    </svg>
    <span class="sr-only">Loading...</span>
  </div>s
</div>

<!-- Success Message -->
<div *ngIf="successMessage" id="toast-success" 
  [ngClass]="{'opacity-100': successMessage, 'opacity-0': !successMessage}" 
  class="toast-message z-50 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-opacity duration-500 ease-in-out" role="alert">
  
  <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
    </svg>
    <span class="sr-only">Check icon</span>
  </div>
  
  <div class="ms-3 text-sm font-normal ">{{ successMessage }}</div>
  
  <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
    <span class="sr-only">Close</span>
    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
    </svg>
  </button>
</div>

<!-- Error Message -->
<div *ngIf="errorMessage" id="toast-error" 
  [ngClass]="{'opacity-100': errorMessage, 'opacity-0': !errorMessage}" 
  class="toast-message z-50 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-opacity duration-500 ease-in-out" role="alert">

  <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
    </svg>
    <span class="sr-only">Error icon</span>
  </div>
  
  <div class="ms-3 text-sm font-normal">{{ errorMessage }}</div>
  
  <button (click)="closeModalErrorMessage()" type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-error" aria-label="Close">
    <span class="sr-only">Close</span>
    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
    </svg>
  </button>
</div>