<div class="h-full w-full flex flex-col justify-center items-center z-1 backdrop-blur-sm  ">
  <div class="h-64 w-full  "></div>
      <div class="flex flex-1  w-full justify-center items-center z-6 p-2">
          <div class="h-full w-full md:w-1/2 bg-white rounded-xl shadow-lg p-4">
            <form [formGroup]="courrierForm" (ngSubmit)="onSubmit()">
            <h6 class="text-center text-2xl font-bold">Informations de courriers</h6>
              <div class="h-12 w-full flex flex-row justify-center items-center space-x-0">
                <div class="w-1/2 ">
                  <select id="document_type_select" (change)="onDocumentTypeChange($event)" class="py-2.5 px-4 w-full text-sm text-gray-700 bg-gray-100 border border-gray-300 rounded-s-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 cursor-pointer">
                    <option value="LIVRET" selected>LIVRETS</option>
                    <option value="PTA">PTAS</option>
                    <option value="TABLEAU_DE_BORD">SUIVIS D'EXECUTION</option>
                    <option value="AUTRE_DOCUMENT">AUTRES DOCUMENTS</option>
                    <option value="ACTIVITE">ACTIVITES</option>
                    <option value="TEXTE">ETUDES</option>
                  </select>
                </div>
                <div class="w-1/2">

                  <div *ngIf="selectedDocumentType === 'LIVRET'" >
                    <select id="livret_select" formControlName="type" class="py-2.5 px-4 w-full text-sm text-gray-700 bg-white border border-gray-300 rounded-e-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 cursor-pointer">
                      <option value="GUIDE_AUX_USAGERS" selected>GUIDE AUX USAGERS</option>
                      <option value="CIRCUIT_DE_TRAITEMENT">CIRCUITS DE TRAITEMENT</option>
                      <option value="MANUELS_DE_PROCEDURES">MANUELS DE PROCÉDURES</option>
                      <option value="CODES_DE_LA_SOLDE">CODES DE LA SOLDE</option>
                      <option value="CODES_DES_PENSIONS">CODES DES PENSIONS</option>
                    </select>
                  </div>

                  <div *ngIf="selectedDocumentType === 'TEXTE'">
                            <select id="texte_select" formControlName="type" class="block py-2.5 px-4 w-full text-sm text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 cursor-pointer">
                              <option value="TEXTES_REGLEMENTAIRES" selected>Textes réglementaires</option>
                              <option value="REMARQUES_OBSERVATIONS">Remarques & observations</option>
                              <option value="LETTRES_NOTES">Lettres & notes</option>
                              <option value="SGAP">SGAP</option>
                              <option value="PROJET_DE_TEXTE">Projet de texte</option>
                            </select>
                  </div>
                  <div *ngIf="selectedDocumentType === 'TABLEAU_DE_BORD'">
                    <select id="tableau_select" formControlName="type" class="block py-2.5 px-4 w-full text-sm text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 cursor-pointer">
                      <option value="TABLEAU_DE_BORD" selected>TABLEAU DE BORD</option>
                      <option value="EXECUTION_DAF">EXECUTION DAF</option>
                      <option value="EXECUTION_SSB">EXECUTION SSB</option>
                      <option value="EXECUTION_DE_DEPENSES">EXECUTION DE DEPENSES</option>
                    </select>
                  </div>

                  <div *ngIf="selectedDocumentType === 'AUTRE_DOCUMENT'">
                    <select id="autre_doc_select" formControlName="type" class="block py-2.5 px-4 w-full text-sm text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 cursor-pointer">
                      <option value="CALENDRIER_SOLDE_PENSION" selected>Calendrier de la solde & pension</option>
                      <option value="FEUILLE_DE_ROUTE">Feuille de route</option>
                      <option value="PIP">PIP</option>
                      <option value="PSMFP">PSMFP</option>
                      <option value="EXECUTION_BUDGETAIRE_DSP_DGEAE">Execution budgetaire DSP & DGEAE</option>
                      <option value="CEB">CEB</option>
                      <option value="AUTRES">AUTRES</option>
                    </select>
                  </div>

                  <div *ngIf="selectedDocumentType === 'ACTIVITE'">
                    <select id="activite_select" formControlName="type" class="block py-2.5 px-4 w-full text-sm text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 cursor-pointer">
                      <option value="REFORMES" selected>Réformes</option>
                      <option value="HEBDOMADAIRE">Hebdomadaire</option>
                      <option value="MENSUEL">Mensuel</option>
                      <option value="TRIMESTRIEL">Trimestriel</option>
                      <option value="SEMESTRIEL">Semestriel</option>
                      <option value="ANNUITE">Annuité</option>
                      <option value="GRANDES_REALISATIONS">Grandes réalisations</option>
                    </select>
                  </div>
                  
                  <div *ngIf="selectedDocumentType === 'PTA'" class="ml-2">
                    <div class="flex space-x-4 flex-row justify-between ">
                      <label class="inline-flex items-center">
                        <input type="radio" formControlName="sousType" value="SERVICE" (change)="onSousTypeChange('SERVICE')" class="form-radio text-blue-600">
                        <span class="ml-2 text-gray-700">SERVICE</span>
                      </label>
                      <label class="inline-flex items-center">
                        <input type="radio" formControlName="sousType" value="DGBF" (change)="onSousTypeChange('DGBF')" class="form-radio text-blue-600">
                        <span class="ml-2 text-gray-700">DGBF</span>
                      </label>
                    </div>
                  </div>
                  
                </div>
              </div>

              <div *ngIf="selectedSousType === 'SERVICE'">
                <select id="service_select" formControlName="type" class="block py-2.5 px-4 w-full text-sm text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 cursor-pointer">
                  <option value="SLP">SLP</option>
                  <option value="SODP">SODP</option>
                  <option value="SSDO">SSDO</option>
                  <option value="SVSP">SVSP</option>
                  <option value="SMSA">SMSA</option>
                  <option value="SCS">SCS</option>
                  <option value="SCPAE">SCPAE</option>
                  <option value="SISP">SISP</option>
                  <option value="DIGIT">DIGIT</option>
                </select>
              </div>
              
              <div *ngIf="selectedSousType === 'DGBF'">
                <select id="global_select" formControlName="type" class="block py-2.5 px-4 w-full text-sm text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 cursor-pointer">
                  <option value="DSP">DSP</option>
                  <option value="DGBF">DGBF</option>
                  <option value="MEF">MEF</option>
                  <option value="PROG_130">PROG_130</option>
                </select>
              </div>

              <div class="w-full mt-4 h- ">
                <input class="w-full p-2 border rounded" id="titre" type="text" placeholder="Titre du courrier" formControlName="titre">
              </div>
              
              <div class="w-full mt-4 h- ">
                <label for="file-upload" class="flex items-center cursor-pointer mb-4">
                  <mat-icon>attach_file</mat-icon>
                  <span class="mlcon-2">Choisir un fichier</span>
                </label>
                <input id="file-upload" type="file" (change)="onFileChange($event)" hidden>
                <span *ngIf="selectedFileName" class="block mb-4">{{ selectedFileName }}</span>
              </div>

              <div class="w-full mt-4 h- ">
                <button mat-raised-button color="primary" type="submit" class="bg-blue-500 w-full text-gray-800 p-2 rounded">Archiver</button>
              </div>
            </form>
          </div>          
      </div>
  <div class="h-64 w-full"></div>
</div>



