<h5>Archivage de courrier</h5>
<form [formGroup]="courrierForm" (ngSubmit)="onSubmit()" class="courrier-form">
  <input class="titre-form" id="titre" type="text" placeholder="Titre du courrier" formControlName="titre">

  <!-- Custom file input -->
  <label for="file-upload" class="custom-file-upload">
    <mat-icon>attach_file</mat-icon>
    Choisir un fichier
</label>
<input id="file-upload" class="contenu-input" type="file" (change)="onFileChange($event)" hidden>

<!-- Display selected file name -->
<span *ngIf="selectedFileName" class="file-name">{{ selectedFileName }}</span>

  <button mat-raised-button color="primary" type="submit">Archiver</button>
</form>