.container-principale {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;



  
}
nav {
  background-color: #e5e7eb;
  width: 16%;
  height: 100vh;
  padding: 10px;
  border-radius: 0% !important;
}

.info-finance {
  padding: 10px;

}

.matricule-display {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.logo-uc-u {

  font-size: 60px;
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #1e40af;
}

.logo-uc-c {
  position: relative;
  top: 15px;
  right: 20px;
  z-index: 1000;
  font-size: 50px;
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: darkorange;
}


.info {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;

}

.menu-titre {
  font-weight: bold;
  color: #000000;
  text-align: start !important;
}

.logo:hover{
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.mail {
  font-size: 14px;
  color: #000000;
}
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.name {
  display: block;
  font-weight: bold;
}

.email {
  display: block;
  color: gray;
}


.recherche {
  text-align: center;
}


.search-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.search-container:hover {
  color: #000;
  cursor: pointer;
}

.search-input {
  background-color: #ffffffe4;
  width: 100%;
  padding: 8px 8px 8px 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
  color: #000000dd;
  outline: none;
}

.search-input:focus {
  box-shadow: 0 3px 4px  rgba(2, 0, 105, 0.074);
}


.search-input::placeholder {
  color: #888; /* Change la couleur du placeholder */
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 57%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #ccccccad;
}

.home-container mat-icon {
  margin-left: 0px;
}

.home {
  border-radius: 10px !important;
  color: #ffffff;
  background-color: #1e40af;
  width: 100%;

}

.home mat-icon {
  margin-right: 8px;
  font-size: 24px;
  color: #ffffff !important;
  box-shadow: none !important;

}

.align-start {
  justify-content: flex-start;
  padding-left: 16px; /
}

hr{
  width: 50%;
  background-color: #000;
  margin:  auto;
}

span {
  margin-top: 5px;
}

.contenu-principal {
  background-color: #e5e7eb;
  width: 83.5%;
  margin-left: 0.5%;
  padding: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.icon-label-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
}

.icon-label-container:hover {
  background-color: #ebebeb;
  border-radius: 5px;
}

.liste-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
}


mat-nav-list .icon-label-container {
  font-size: 14px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.icon-label-container mat-icon {
  background-color: white;
  margin-right: 8px;
  font-size: 20px;
  color:  #1e40af; 
  border-radius: 50px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 10px;
  backdrop-filter: blur(10px);
}


mat-nav-list {
  background-color: #ffffffe4;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex: 1 !important;
  flex-direction: column ;
  justify-content: space-between;
  gap: 1px;
  align-items: start;
  backdrop-filter: blur(10px);

}


.deconnexion-icon {
  cursor: pointer;
  color: #ff000098;
  font-size: 12px;
  border: none;
  font-weight: bold;
  background-color:  rgb(255, 255, 255);
  text-align: right;
}

.logout-icon:hover {
  background-color: #eaeaea;
}

.login-link {
  text-align: center;
  margin-top: 20%;
}

.login-link a {
  text-decoration: none;
}
 
a {
  text-decoration: none;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}