<div class="fixed top-0 z-20 w-full h-[62px] md:pl-64 bg-gray-50 dark:bg-sky-950 border-b border-gray-200 shadow-md  dark:border-gray-700">
  <div class="flex p-2  justify-between md:justify-end items-center  h-full">
    <div class="flex md:hidden">
      <button type="button" data-drawer-target="sidebar-toggle" data-drawer-toggle="sidebar-toggle" class="" aria-label="Sidebar">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 dark:text-zinc-100">
          <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
        </svg>        
      </button>
    </div>
    <div class="md:hidden ">
      <span class="text-5xl mt-0 dark:text-zinc-100">uc</span>
    </div>
    <div class="flex flex-row gap-2 items-center">
      <div class="h-16 flex justify-center items-center">
        <div class="w-full h-auto  border border-zinc-300/30 dark:border-zinc-500/50 rounded-full px-2 py-2 flex justify-center items-center">
          <div class="cursor-pointer" (click)="toggleDarkMode()">
            <svg *ngIf="!isDarkMode" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd" d="M9.528 1.718a.75.75 0 0 1 .162.819A8.97 8.97 0 0 0 9 6a9 9 0 0 0 9 9 8.97 8.97 0 0 0 3.463-.69.75.75 0 0 1 .981.98 10.503 10.503 0 0 1-9.694 6.46c-5.799 0-10.5-4.7-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 0 1 .818.162Z" clip-rule="evenodd" />
            </svg>            
            <svg *ngIf="isDarkMode" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-zinc-100">
              <path d="M12 2.25a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-1.5 0V3a.75.75 0 0 1 .75-.75ZM7.5 12a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM18.894 6.166a.75.75 0 0 0-1.06-1.06l-1.591 1.59a.75.75 0 1 0 1.06 1.061l1.591-1.59ZM21.75 12a.75.75 0 0 1-.75.75h-2.25a.75.75 0 0 1 0-1.5H21a.75.75 0 0 1 .75.75ZM17.834 18.894a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 1 0-1.061 1.06l1.59 1.591ZM12 18a.75.75 0 0 1 .75.75V21a.75.75 0 0 1-1.5 0v-2.25A.75.75 0 0 1 12 18ZM7.758 17.303a.75.75 0 0 0-1.061-1.06l-1.591 1.59a.75.75 0 0 0 1.06 1.061l1.591-1.59ZM6 12a.75.75 0 0 1-.75.75H3a.75.75 0 0 1 0-1.5h2.25A.75.75 0 0 1 6 12ZM6.697 7.757a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 0 0-1.061 1.06l1.59 1.591Z" />
            </svg>

          </div>
        </div>
      </div>
      
      <div *ngIf="isAuthenticated(); else loginButton">
        <button  id="userDropdownButton" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-12 h-12 rounded-full bg-zinc-400 ">
          <span class="text-zinc-100 text-2xl">{{ finaluser?.email[0] }}</span>
        </button>
        <div   id="userDropdown" class="z-10 backdrop-blur-sm hidden bg-white divide-y divide-neutral-50 rounded-lg shadow-md dark:bg-gray-700">
          <ul class="w-[250px] p-3">
            <li>
              <p class="text-sm text-sky-950">{{ finaluser?.accountType }}</p>
              <hr>
            </li>
            <li class="mt-2">
              <p class="text-sm">{{ finaluser?.numero }}</p>
            </li>
            <li>
              <p class="text-xs ">{{ finaluser?.email }}</p>
            </li>
          </ul>
          <!-- Logout Button -->
          <div class="p-3">
            <button class="" (click)="logout() ">
              <span class="font-bold text-red-600">Déconnexion</span>
            </button>
          </div>
        </div>
      </div>

      <ng-template #loginButton>
        <div class=" h-full flex justify-center items-center">
          <button type="button" class="py-2 px-2 rounded-md border border-sky-900/30 text-sm text-sky-900 hover:bg-sky-900 hover:text-zinc-100 dark:bg-sky-800 dark:text-zinc-100" routerLink="/login">Se connecter</button>

        </div>
      </ng-template>
    </div>
  </div>
</div>

<!-- sidebar -->
<div id="sidebar-toggle" class="fixed  left-0 z-[1000] sidebar w-72 h-full  transition-transform -translate-x-full md:translate-x-0  dark:border-gray-700 overflow-y-auto scrollbarr  flex flex-col border-r-2 border-gray-100 " aria-label="Sidebar">
  <div class=" px-7 dark:bg-sky-950">
  <div class="h-16 mb-4  ">
    <span class="text-5xl text-zinc-800 dark:text-white mt-0 hidden lg:inline">uc</span>
    <div class="flex  justify-center items-center  h-full ">
      <button type="button" data-drawer-target="sidebar-toggle" data-drawer-toggle="sidebar-toggle" class="lg:hidden rounded-full border border-black/50" aria-label="Sidebar">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>    
      </button>
    </div>
  </div>

  <div class="h-auto flex justify-between flex-col">
    <!-- home -->
    <div  class="relative w-full h-12  bg-sky-800 shadow-lg dark:shadow-md dark:shadow-sky-600/30  backdrop-brightness-50 hover:bg-sky-900 rounded-lg  flex items-center  cursor-pointer " routerLink="/home">
      <div class="inline-flex ml-3 text-base ">

        <div class="mr-7 flex justify-center items-center">
          <svg xmlns="httpl://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-zinc-100 dark:text-zinc-50">
            <path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" />
            <path d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" />
          </svg>                  
        </div>

        <div class=" ">
          <span class="text-base mt-0 text-zinc-100 ">
            Accueil
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- hr -->
  <div class="!h-0.5 w-1/2 mx-auto my-8 bg-gray-200 dark:bg-gray-400" >
  </div>

  <!-- menu -->
  <div class="flex-1 w-full rounded-sm  ">
    <div class="flex flex-col h-full">
      <div class="justify-start flex  ">  
        <span class="font-semibold text-zinc-800 mb-2 dark:text-gray-50">Menus</span>
      </div>
      <div class="grid grid-cols-1 gap-2 overflow-y-auto pl-4">
        <a class="relative w-full h-12  text-zinc-500 dark:text-zinc-300 flex items-center cursor-pointer group hover:bg-gray-50 dark:hover:bg-zinc-400/30" 
            routerLink="auth/uc-presentation" 
            routerLinkActive="border-l-2 border-zinc-400 dark:border-zinc-400 text-gray-800">
          <div class="inline-flex ml-3 text-base">
            <div class="mr-7 flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
              </svg>                       
            </div>
            <div class=" ">
              <span class="mt-0 text-sm  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                Présentation de l'UC
              </span>
            </div>
          </div>
        </a>


        <div class="relative">
          <button type="button" class="relative w-full h-12  text-zinc-500 dark:text-zinc-300  dark:text-zinc-00  flex items-center  cursor-pointer group hover:bg-gray-50 dark:hover:bg-zinc-400/30"
            routerLink="auth/liste-chef"
            routerLinkActive="border-l-2 border-zinc-400 dark:border-zinc-400 text-gray-800"            [routerLinkActiveOptions]="{ exact: false }">
            
            <div class="inline-flex ml-3 text-base">
              <div class="mr-7 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 group-hover:text-neutral-800 dark:group-hover:text-gray-50 ">
                  <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z" clip-rule="evenodd" />
                  <path d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
                </svg>                                      
              </div>

              <div class=" ">
                <span class="text-sm mt-0   group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                  Annuaire
                </span>
              </div>
            </div>
          </button>
        </div>

        <!-- organigramme -->
        <div class="relative">
          <button type="button" class="relative w-full h-12  text-zinc-500 dark:text-zinc-300  flex items-center  cursor-pointer group hover:bg-gray-50 dark:hover:bg-zinc-400/30 "
           routerLink="auth/organigramme"
           routerLinkActive="border-l-2 border-zinc-400 dark:border-zinc-400 text-gray-800">
            <div class="inline-flex ml-3 text-base">
              <div class="mr-7 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 group-hover:text-neutral-800 dark:group-hover:text-gray-50 ">
                  <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z" clip-rule="evenodd" />
                  <path d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
                </svg>                                      
              </div>
              <div class=" ">
                <span class="text-sm mt-0   group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                  Organigrammes
                </span>
              </div>
            </div>
          </button>
        </div>


        <div class="relative">
          <button type="button" class="relative w-full h-12 text-zinc-500 dark:text-zinc-300 flex items-center cursor-pointer group hover:bg-gray-50 dark:hover:bg-zinc-400/30"
            routerLink="auth/liste-livret"
            routerLinkActive="border-l-2 border-zinc-400 dark:border-zinc-400 text-gray-800">
            <div class="inline-flex ml-3 text-base">
              <div class="mr-7 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                  <path fill-rule="evenodd" d="M6.32 2.577a49.255 49.255 0 0 1 11.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 0 1-1.085.67L12 18.089l-7.165 3.583A.75.75 0 0 1 3.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93Z" clip-rule="evenodd" />
                </svg>
              </div>
              <div>
                <span class="text-sm mt-0  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                  Livrets
                </span>
              </div>
            </div>
          </button>
        </div>

        <a class="relative w-full h-12  text-zinc-500 dark:text-zinc-300  flex items-center  cursor-pointer group hover:bg-gray-50 dark:hover:bg-zinc-400/30"
         routerLink="auth/liste-pta"
         routerLinkActive="border-l-2 border-zinc-400 dark:border-zinc-400 text-gray-800">
          <div class="inline-flex ml-3 text-base">
            <div class="mr-7 flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                <path fill-rule="evenodd" d="M2.25 2.25a.75.75 0 0 0 0 1.5H3v10.5a3 3 0 0 0 3 3h1.21l-1.172 3.513a.75.75 0 0 0 1.424.474l.329-.987h8.418l.33.987a.75.75 0 0 0 1.422-.474l-1.17-3.513H18a3 3 0 0 0 3-3V3.75h.75a.75.75 0 0 0 0-1.5H2.25Zm6.04 16.5.5-1.5h6.42l.5 1.5H8.29Zm7.46-12a.75.75 0 0 0-1.5 0v6a.75.75 0 0 0 1.5 0v-6Zm-3 2.25a.75.75 0 0 0-1.5 0v3.75a.75.75 0 0 0 1.5 0V9Zm-3 2.25a.75.75 0 0 0-1.5 0v1.5a.75.75 0 0 0 1.5 0v-1.5Z" clip-rule="evenodd" />
              </svg>                               
            </div>
            <div class=" ">
              <span class="text-sm mt-0  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                Ptas
              </span>
            </div>
          </div>
        </a>

        <!-- activité -->
        <a class="relative w-full h-12  text-zinc-500 dark:text-zinc-300 flex items-center  cursor-pointer group hover:bg-gray-50 dark:hover:bg-zinc-400/30"
         routerLink="auth/liste-activite"
         routerLinkActive="border-l-2 border-zinc-400 dark:border-zinc-400 text-gray-800">
          <div class="inline-flex ml-3 text-base">
            <div class="mr-7 flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                <path fill-rule="evenodd" d="M2.25 2.25a.75.75 0 0 0 0 1.5H3v10.5a3 3 0 0 0 3 3h1.21l-1.172 3.513a.75.75 0 0 0 1.424.474l.329-.987h8.418l.33.987a.75.75 0 0 0 1.422-.474l-1.17-3.513H18a3 3 0 0 0 3-3V3.75h.75a.75.75 0 0 0 0-1.5H2.25Zm6.04 16.5.5-1.5h6.42l.5 1.5H8.29Zm7.46-12a.75.75 0 0 0-1.5 0v6a.75.75 0 0 0 1.5 0v-6Zm-3 2.25a.75.75 0 0 0-1.5 0v3.75a.75.75 0 0 0 1.5 0V9Zm-3 2.25a.75.75 0 0 0-1.5 0v1.5a.75.75 0 0 0 1.5 0v-1.5Z" clip-rule="evenodd" />
              </svg>                               
            </div>
            <div class=" ">
              <span class="text-sm mt-0  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                Activités
              </span>
            </div>
          </div>
        </a>

        <!-- texte -->
        <a class="relative w-full h-12  text-zinc-500 dark:text-zinc-300 flex items-center  cursor-pointer group hover:bg-gray-50 dark:hover:bg-zinc-400/30"
         routerLink="auth/liste-texte"
         routerLinkActive="border-l-2 border-zinc-400 dark:border-zinc-400 text-gray-800">
          <div class="inline-flex ml-3 text-base">
            <div class="mr-7 flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                <path fill-rule="evenodd" d="M2.25 2.25a.75.75 0 0 0 0 1.5H3v10.5a3 3 0 0 0 3 3h1.21l-1.172 3.513a.75.75 0 0 0 1.424.474l.329-.987h8.418l.33.987a.75.75 0 0 0 1.422-.474l-1.17-3.513H18a3 3 0 0 0 3-3V3.75h.75a.75.75 0 0 0 0-1.5H2.25Zm6.04 16.5.5-1.5h6.42l.5 1.5H8.29Zm7.46-12a.75.75 0 0 0-1.5 0v6a.75.75 0 0 0 1.5 0v-6Zm-3 2.25a.75.75 0 0 0-1.5 0v3.75a.75.75 0 0 0 1.5 0V9Zm-3 2.25a.75.75 0 0 0-1.5 0v1.5a.75.75 0 0 0 1.5 0v-1.5Z" clip-rule="evenodd" />
              </svg>                               
            </div>
            <div class=" ">
              <span class="text-sm mt-0  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                Etudes
              </span>
            </div>
          </div>
        </a>

        <a class="relative w-full h-12  text-zinc-500 dark:text-zinc-300  flex items-center  cursor-pointer group hover:bg-gray-50 dark:hover:bg-zinc-400/30"
        routerLink="auth/liste-suivi-execution"
        routerLinkActive="border-l-2 border-zinc-400 dark:border-zinc-400 text-gray-800">
         <div class="inline-flex ml-3 text-base">
           <div class="mr-7 flex justify-center items-center">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
               <path fill-rule="evenodd" d="M2.25 2.25a.75.75 0 0 0 0 1.5H3v10.5a3 3 0 0 0 3 3h1.21l-1.172 3.513a.75.75 0 0 0 1.424.474l.329-.987h8.418l.33.987a.75.75 0 0 0 1.422-.474l-1.17-3.513H18a3 3 0 0 0 3-3V3.75h.75a.75.75 0 0 0 0-1.5H2.25Zm6.04 16.5.5-1.5h6.42l.5 1.5H8.29Zm7.46-12a.75.75 0 0 0-1.5 0v6a.75.75 0 0 0 1.5 0v-6Zm-3 2.25a.75.75 0 0 0-1.5 0v3.75a.75.75 0 0 0 1.5 0V9Zm-3 2.25a.75.75 0 0 0-1.5 0v1.5a.75.75 0 0 0 1.5 0v-1.5Z" clip-rule="evenodd" />
             </svg>                               
           </div>
           <div class=" ">
             <span class="text-sm mt-0  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
               Suivi d'exécution
             </span>
           </div>
         </div>
       </a>

        <a class="relative w-full h-12  text-zinc-500 dark:text-zinc-300  flex items-center  cursor-pointer group hover:bg-gray-50 dark:hover:bg-zinc-400/30"
         routerLink="auth/liste-autre-document"
         routerLinkActive="border-l-2 border-zinc-400 dark:border-zinc-400 text-gray-800">
          <div class="inline-flex ml-3 text-base">
            <div class="mr-7 flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 t group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                <path fill-rule="evenodd" d="M7.502 6h7.128A3.375 3.375 0 0 1 18 9.375v9.375a3 3 0 0 0 3-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 0 0-.673-.05A3 3 0 0 0 15 1.5h-1.5a3 3 0 0 0-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6ZM13.5 3A1.5 1.5 0 0 0 12 4.5h4.5A1.5 1.5 0 0 0 15 3h-1.5Z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 0 1 3 20.625V9.375ZM6 12a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V12Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM6 15a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V15Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM6 18a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V18Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
              </svg>                                       
            </div>
            <div class=" ">
              <span class="text-sm mt-0  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                Autre documents
              </span>
            </div>
          </div>
        </a>

        <div class="relative">
          <button class="relative w-full h-12 text-zinc-500 dark:text-zinc-300  flex items-center cursor-pointer group hover:bg-gray-50 dark:hover:bg-zinc-400/30"
            routerLink="auth/liste-reunion"
            routerLinkActive="border-l-2 border-zinc-400 dark:border-zinc-400 text-gray-800"            [routerLinkActiveOptions]="{ exact: false }">
            <div class="inline-flex ml-3 text-base">
              <div class="mr-7 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                  <path d="M12.378 1.602a.75.75 0 0 0-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03ZM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 0 0 .372-.648V7.93ZM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 0 0 .372.648l8.628 5.033Z" />
                </svg>                          
              </div>
              <div class=" ">
                <span class="text-sm mt-0  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                  Reunion
                </span>
              </div>
            </div>
          </button>
        </div>

        <a  class="relative w-full h-12  text-zinc-500 dark:text-zinc-300  flex items-center  cursor-pointer group hover:bg-gray-50 dark:hover:bg-zinc-400/30"
         routerLink="dashboard"
         routerLinkActive="border-l-2 border-zinc-400 dark:border-zinc-400 text-gray-800" >
          <div class="inline-flex ml-3 text-base">
            <div class="mr-7 flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clip-rule="evenodd" />
              </svg>                        
            </div>
            <div class=" ">
              <span class="text-sm mt-0  group-hover:text-neutral-800 dark:group-hover:text-gray-50">
                Accès réservé
              </span>
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>
</div>
</div>

<section class="md:ml-72 min-h-screen  !z-[-20] pt-[8vh] bg-zinc-50 dark:bg-sky-950">

  <div class="fixed !z-[0] h-64 w-64 blur-3xl bg-sky-900/20 dark:bg-gradient-to-r from-sky-900 via-sky-800 to-zinc-50 rounded-br-full">
  </div>
  <div class="fixed z-[0] h-64 w-64 blur-3xl   bg-yellow-500/40 dark:bg-gradient-to-tl from-yellow-500/80  via-yellow-500/30 to-zinc-100 rounded-tl-full bottom-0 right-0 ">
  </div>  
  <router-outlet></router-outlet>
</section>