<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="info-finance mb-4">
      <!-- todo -->
    </div>

    <!-- Recherche -->
    <div class="recherche mb-2">
      <div class="search-container">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" placeholder="Rechercher..." class="search-input">
      </div>
    </div>
    <div class="icon-label-container mb-4">
      <a mat-fab extended class="home align-start" routerLink=".">
        <mat-icon>home</mat-icon>
        Accueil
      </a>
    </div>
    <hr class="mb-4">

    <mat-nav-list>
      <div class="icon-label-container">
        <mat-icon>person</mat-icon>
        <span> <a routerLink="list-chef"> Presentation de l'uc</a></span>
      </div>
      <div class="icon-label-container" [matMenuTriggerFor]="livretMenu">
        <mat-icon>bookmark</mat-icon>
        <span>Livret </span>
      </div>

      <div class="icon-label-container" [matMenuTriggerFor]="chefsMenu">
        <mat-icon>group</mat-icon>
        <span>Chefs de la DSP</span>
      </div>
      <div class="icon-label-container" [matMenuTriggerFor]="ptactivite">
        <mat-icon>assignment</mat-icon>
        <span>PTA et activités</span>
      </div>
      <div class="icon-label-container" [matMenuTriggerFor]="autredocuments">
        <mat-icon>folder</mat-icon>
        <span>Autres documents</span>
      </div>
      <div class="icon-label-container" [matMenuTriggerFor]="reunions">
        <mat-icon>event</mat-icon>
        <span>Reunion</span>
      </div>
      <div class="icon-label-container">
        <mat-icon>lock</mat-icon>
        <span>Accès réservé</span>
      </div>
    </mat-nav-list>


    <!-- livret menue -->
    <mat-menu #livretMenu="matMenu" xPosition="before" class="livret-menu">
      <button mat-menu-item routerLink="guide">Guides au usager</button>
      <button mat-menu-item routerLink="manuel-de-procedure">Manuels de procedures</button>
      <button mat-menu-item routerLink="circuit-de-traitement">Circuits de traitement</button>
    </mat-menu>

    <!-- chef  menue -->
    <mat-menu #chefsMenu="matMenu" xPosition="before" class="chefs-menu custom-menu">
      <button mat-menu-item [matMenuTriggerFor]="organigramme">Organigramme</button>
      <button mat-menu-item routerLink="list-chef">Chef</button>
    </mat-menu>

    <mat-menu #organigramme="matMenu">
      <button mat-menu-item routerLink="organigramme-direction">Organigramme de la direction </button>
      <button mat-menu-item routerLink="organigramme-service">Organigramme par service</button>
    </mat-menu>


    <!-- pta/ activite menue -->
    <mat-menu #ptactivite="matMenu" xPosition="before" class="chefs-menu custom-menu">
      <button mat-menu-item [matMenuTriggerFor]="pta">PTA</button>
      <button mat-menu-item [matMenuTriggerFor]="activites">Activités</button>
      <button mat-menu-item routerLink="recapitulatif-activites">Récapitulatif</button>
    </mat-menu>

    <mat-menu #pta="matMenu">
      <button mat-menu-item routerLink="organigramme-direction">Pta de la DSP</button>
      <button mat-menu-item routerLink="organigramme-service">Pta par service</button>
    </mat-menu>

    <mat-menu #activites="matMenu">
      <button mat-menu-item routerLink="activite-reforme">Activité de réforme</button>
      <button mat-menu-item routerLink="activites-hebdomadaires">Hebdomadaires</button>
      <button mat-menu-item routerLink="activites-mensuelles">Mensuelles</button>
      <button mat-menu-item routerLink="activites-trimestrielles">Trimestrielles</button>
      <button mat-menu-item routerLink="activites-semestrielles">Semestrielles</button>
    </mat-menu>

    <!-- autre documents -->

    <mat-menu #autredocuments="matMenu" xPosition="before" class="chefs-menu custom-menu">
      <button mat-menu-item routerLink="calendrier-solde-pensions">Calendrier de la Solde et des pensions</button>
      <button mat-menu-item routerLink="donnees-eb">Données EB</button>
      <button mat-menu-item routerLink="tableau-bord-eb">Tableau de bord EB</button>
      <button mat-menu-item [matMenuTriggerFor]="pv">PV</button>
      <button mat-menu-item routerLink="autres-cr">Autres CR</button>
    </mat-menu>

    <mat-menu #pv="matMenu">
      <button mat-menu-item routerLink="pv-staff-hebdomadaire">PV staff hebdomadaire</button>
      <button mat-menu-item routerLink="pv-conference-nationale">PV Conférence Nationale</button>
    </mat-menu>

    <!-- reunion menue -->
    <mat-menu #reunions="matMenu" xPosition="before" class="chefs-menu custom-menu">
      <button mat-menu-item routerLink="planification-reunion">Planification de Réunion</button>
      <button mat-menu-item routerLink="liste-reunions">liste de réunion</button>
    </mat-menu>




    <div class="info mb-1" *ngIf="isAuthenticated(); else loginTemplate">
      <div class="logo">
        <span *ngIf="user">{{ user.accountType.charAt(0) }}</span>
      </div>
      <div class="info-text">
        <span class="mail">{{ user?.email }}</span>
        <div *ngIf="matricule" class="matricule-display">
          {{ matricule }}
          <mat-icon class="logout-icon" (click)="logout()">logout</mat-icon>
        </div>
      </div>
    </div>
    
    <ng-template #loginTemplate>
      <div class="login-link">
        <a routerLink="/login">Connexion</a>
      </div>
    </ng-template>
  </mat-sidenav>

  <!-- Main navigation window -->
  <mat-sidenav-content class="custom-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>