  <div class="fixed top-0 z-50 w-full h-[8vh] bg-white border-b border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="flex p-2 border-3 border-double  justify-between items-center  h-full">
      <div class="flex md:hidden">
        <button type="button" data-drawer-target="sidebar-toggle" data-drawer-toggle="sidebar-toggle" class="" aria-label="Sidebar">
          <mat-icon class="text-[32px] self-center">
            menus
          </mat-icon>
        </button>
      </div>
      <div>
        <span class="text-5xl mt-0">uc</span>
      </div>
      <div class="flex"> 
        <button type="button" class="w-12 h-12 rounded-full bg-blue-800"> 
        </button>
      </div>
    </div>
  </div>

  <div id="sidebar-toggle" class="fixed left-0 z-40 w-64 h-screen  pt-20 px-3 transition-transform -translate-x-full  border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700 bg-white" aria-label="Sidebar">
    <div class="relative w-full h-10 mb-10 border-1 border-blue-800 border-opacity-50 rounded-md flex items-center  cursor-pointer ">
      <div class="absolute inset-y-0 self-center mt-auto pl-3 ">
        <mat-icon class="text-gray-400 text-[21px] ">search</mat-icon>
      </div>
      <div class="flex pl-10 mb-auto ">
        <span class="text-lg text-gray-400">
          Pta, coutiers...
        </span>
      </div>
    </div>

    <!-- home -->
    <div class="relative w-full h-10 mb-2 border-1 border-blue-800 border-opacity-50 rounded-md flex items-center cursor-pointer ">
      <div class="absolute inset-y-0 self-center mt-auto pl-3 ">
        <mat-icon class="text-gray-400 text-[21px] ">home</mat-icon>
      </div>
      <div class="flex pl-10 mb-auto ">
        <span class="text-lg text-gray-400">
          Accueil
        </span>
      </div>
    </div>

    <!-- menus -->
     <div class="h-3/4 bg-gray-200 px-3">
      <span class="text-left text-bold">menus</span>
      <div class="flex flex-col h-full justify-around gap-3 px-3">
        <a class="relative w-full h-10 border-1 border-blue-800 border-opacity-50 rounded-md flex items-center cursor-pointer">
          <div class="absolute inset-y-0 self-center mt-auto pl-3 ">
            <mat-icon class="text-gray-400 text-[21px] ">search</mat-icon>
          </div>
        </a>
        <div class="relative w-full h-10 border-1 border-blue-800 border-opacity-50 rounded-md flex items-center ">
          <div class="absolute inset-y-0 self-center mt-auto pl-3 ">
            <mat-icon class="text-gray-400 text-[21px] ">search</mat-icon>
          </div>
        </div>
        <div class="relative w-full h-10 border-1 border-blue-800 border-opacity-50 rounded-md flex items-center ">
          <div class="absolute inset-y-0 self-center mt-auto pl-3 ">
            <mat-icon class="text-gray-400 text-[21px] ">search</mat-icon>
          </div>
        </div>
       </div>
  

      </div>

  </div>
  
  <section class="md:ml-64 h-screen pt-[10vh]">

    <router-outlet></router-outlet>
  </section>
