<div *ngIf="meeting" class="meeting-details p-4 bg-white shadow-md rounded-lg">
    <h5 class="title text-xl font-bold mb-4">Détails de Réunion</h5>

    <div>
      <span>{{meeting.id}}</span>
    </div>
    <div class="objet mb-4">
        <label class="font-semibold">Objet:</label>
        <div class="mt-1">
          <span class="objet-contenu text-gray-700">{{ meeting.objet }}</span>
        </div>
    </div>
    <div class="meeting-content flex flex-wrap">
      <div class="left-section w-full md:w-1/2 pr-4">

        <div class="en-ligne mb-4">
          <label class="font-semibold">Date:</label>
          <div class="date meme-ligne mt-1">
            <span class="date-contenu text-gray-700">{{ meeting.meetingDate | date: 'short' }}</span>
            <span class="date-contenu text-gray-700">{{ meeting.ModificationDate | date: 'short' }}</span>
          </div>
        </div>

        <div class="en-ligne mb-4">
          <label class="font-semibold">Lieu:</label>
          <div class="location meme-ligne mt-1">
            <span class="location-contenu text-gray-700">{{ meeting.location }}</span>
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold">Logistique:</label>
          <div class="logistique mt-1">
            <ul class="list-disc list-inside">
              <li *ngFor="let item of logistique" class="text-gray-700">
                {{ item }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right-section w-full md:w-1/2 pl-4">
        <div class="mb-4">
          <label class="font-semibold">Responsables:</label>
          <div class="responsables mt-1">
            <ul class="list-disc list-inside">
              <li *ngFor="let responsable of responsables" class="text-gray-700">
                {{ responsable }}
              </li>
            </ul>
          </div>
        </div>
        <div class="mb-4">
          <label class="font-semibold">Participants invités:</label>
          <div class="participants mt-1">
            <ul class="list-disc list-inside">
              <li *ngFor="let participant of participants" class="flex items-center text-gray-700">
                {{ participant }}
                <input type="checkbox" class="ml-2" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- fiche de presence -->
     <div *ngIf="isModalVisible" class="fixed inset-0 flex items-center justify-center bg-gray-300 bg-opacity-50 overflow-hidden z-20">
      <div class="bg-white p-6 rounded-lg shadow-xl w-1/2">
        <h3 class="text-xl font-medium text-gray-900 mb-4">Fiche de Présence</h3>
        <form [formGroup]="updateForm">
          <div class="w-full mt-4">
            <label for="file-upload" class="flex items-center cursor-pointer mb-4">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M18.97 3.659a2.25 2.25 0 0 0-3.182 0l-10.94 10.94a3.75 3.75 0 1 0 5.304 5.303l7.693-7.693a.75.75 0 0 1 1.06 1.06l-7.693 7.693a5.25 5.25 0 1 1-7.424-7.424l10.939-10.94a3.75 3.75 0 1 1 5.303 5.304L9.097 18.835l-.008.008-.007.007-.002.002-.003.002A2.25 2.25 0 0 1 5.91 15.66l7.81-7.81a.75.75 0 0 1 1.061 1.06l-7.81 7.81a.75.75 0 0 0 1.054 1.068L18.97 6.84a2.25 2.25 0 0 0 0-3.182Z" clip-rule="evenodd" />
              </svg>
              <span class="ml-2">Choisir un fichier</span>
            </label>
            <input id="file-upload" type="file" (change)="onFileChange($event)" hidden>
            <span *ngIf="selectedFileName" class="block mb-4">{{ selectedFileName }}</span>
          </div>
        </form>
        <div class="flex justify-end mt-4">
          <button (click)="addAttendanceSheet()" class="text-white bg-blue-600 hover:bg-blue-700 rounded-lg text-sm px-5 py-2.5">Modifier</button>
          <button (click)="closeModal()" class="text-gray-600 bg-gray-200 hover:bg-gray-300 rounded-lg text-sm px-5 py-2.5 ml-2">Annuler</button>
        </div>
      </div>
    </div>

    <!-- Conditionally display buttons based on modificationDate -->
    <div class="flex justify-end mt-4">
      <!-- If modificationDate is null, show the "Modifier" button -->

      <!-- If modificationDate is not null, show the "Download" and "Preview" buttons -->
      <div >
        <button (click)="downloadAttendanceSheet(meeting.attendanceSheet, meeting.fileType, 'AttendanceSheet')" class="text-white bg-blue-600 hover:bg-blue-700 rounded-lg text-sm px-5 py-2.5">
          Download
        </button>
        <button (click)="previewAttendanceSheet(meeting.attendanceSheet, meeting.fileType)" class="text-white bg-amber-400 hover:bg-amber-500 rounded-lg text-sm px-5 py-2.5 ml-2">
          Preview
        </button>
      </div>
    </div>
</div>