<div class="w-full h-auto flex flex-col bg-gray-100 " >

  <div class="">

    <!-- activités -->
    <div class="w-full h-auto mb-6  ">

      <div class="w-full  "><h6 class="text-gray-800 text-2xl font-bold m-0"><span class="font-bold">Activités</span></h6></div>
      <div class="flex flex-row w-full gap-6 justify-between">
        <select class="bg-white text-gray-800 p-2 rounded-lg shadow-sm" (change)="onDateFilterChange($event)">
          <option value="today">Aujourd'hui - nombre de données: {{ countToday }}</option>
          <option value="week">Hebdomadaire - nombre de données: {{ countWeek }}</option>
          <option value="month">Trimestrielle - nombre de données: {{ countMonth }}</option>
          <option value="3months">Mensuel - nombre de données: {{ count3Months }}</option>
          <option value="6months">Semestrielle - nombre de données: {{ count6Months }}</option>
        </select>
      </div>
  </div>
</div>

<div class="mx-auto w-full px-4 py-6 bg-white">
  <!-- header -->
  <h6 class="text-gray-800 text-2xl m-0"><span class="font-medium">Activités</span></h6>
   <div class="grid !grid-cols-1 md:!grid-cols-2 gap-4 mb-4">
    <div class="w-full h-12 ">
      <div class="flex">

        <div class="w-auto">
            <select id="searchTypeSelect" (change)="onSearchTypeChange($event)" 
                    class="block w-auto pl-3 pr-10 py-2 text-sm text-gray-800 bg-gray-100 border-gray-400 focus:outline-none focus:ring-sky-800 focus:border-sky-800 sm:text-sm rounded-s-md cursor-pointer">
              <option value="title">Titre</option>
              <option value="date">Date</option>
            </select>
        </div>

        <div class="relative w-full " *ngIf="searchType === 'title'">
            <input 
            type="text" 
            id="searchInput" 
            placeholder="Rechercher par titre" 
            (input)="onSearch($event)" 
            class="block w-full pl-3 pr-3 py-2 text-sm text-black bg-white border-gray-400 focus:outline-none focus:ring-sky-800 focus:border-sky-800 sm:text-sm" />

        </div>

        <div class="relative w-full " *ngIf="searchType === 'date'">
                <input 
                  type="date" 
                  id="searchDate" 
                  (change)="onDateChange($event)" 
                  class="block w-full pl-3 pr-3 py-2 text-sm text-black bg-white border-gray-400 focus:outline-none focus:ring-sky-800 focus:border-sky-800 sm:text-sm rounded-md" />
        </div>
        
        <div class="flex justify-center items-center cursor-pointer bg-sky-900 p-1 rounded-e-md" (click)="resetFilters() ">
              <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white dark:text-gray-800">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
              </svg>
          
        </div>
      </div>
    </div>

    <div class="w-full flex justify-end ">
        <div class="w-full lg:w-auto">
            <select id="ptaTypeSelect" (change)="onTypeChange($event)" 
                    class="block w-full pl-3 pr-10 text-sm text-gray-100 bg-sky-900 border-gray-400 focus:outline-none focus:ring-sky-800 focus:border-sky-800 sm:text-sm rounded-md">
            <option *ngFor="let type of activiteTypes" [value]="type">{{ type | replaceUnderscore }}</option>
            </select>
        </div>
    </div>
   </div>

  <!-- Display the count of filtered activities -->
  <div class="mt-4 text-gray-800 font-semibold">
    Nombre d'activités: {{ filteredActivitesCount }}
  </div>

  <!-- Activite Table -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg overflow-auto max-h-[520px]">

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase white bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-4 py-3">Titre</th>
              <th scope="col" class="px-4 py-3">Date d'insertion</th>
              <th scope="col" class="px-4 py-3">Type</th>
              <th scope="col" class="px-4 py-3">inséré par</th>
              <th scope="col" class="px-4 py-3">Consulter</th>
          </tr>
      </thead>
      <tbody  class="bg-white">
        <ng-container *ngFor="let activite of paginatedActivites; let i = index">
        <tr class="border-b dark:border-gray-700" >
          <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ activite.titre }}</th>
          <!-- if datemodification = null show activite.date.insertion else date.modification -->
              <td class="px-4 py-3">{{ activite.dateModification ? (activite.dateModification | date:'medium') : (activite.dateInsertion | date:'medium') }}</td>
              <td class="px-4 py-3">{{ activite.type }}</td>
              <td class="px-4 py-3">{{ activite.user_account.numero }}</td>

              <td class="px-4 py-3">
                <div class="flex flex-row gap-2">
                  <button class=" text-white px-2 py-1 rounded" (click)="downloadActivite(activite)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-blue-700">
                    <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375Z" />
                    <path fill-rule="evenodd" d="m3.087 9 .54 9.176A3 3 0 0 0 6.62 21h10.757a3 3 0 0 0 2.995-2.824L20.913 9H3.087ZM12 10.5a.75.75 0 0 1 .75.75v4.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-3 3a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 1 1 1.06-1.06l1.72 1.72v-4.94a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                  </svg>                  
                </button>
                <button class=" text-white px-2 py-1 rounded" (click)="previewActivite(activite)">
                  <span class="bg-amber-400 size-6 px-2 py-1 rounded-md">Voir</span>
                </button>
                </div>
              </td>
          </tr>
      </ng-container>

      </tbody>
  </table>

    <!-- No Results Message -->
    <div *ngIf="filteredActivites.length === 0" class="text-center text-red-500 font-semibold ">
      Aucun résultat trouvé.
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="flex justify-between items-center mt-4 text-gray-400">
    <!-- Rows per page -->
    <div>
      <label for="rowsPerPage" class="mr-2">Lignes par page:</label>
      <select id="rowsPerPage" (change)="onRowsPerPageChange($event)" 
              class="bg-gray-50 border-gray-600 text-gray-800 rounded-md">
        <option [value]="5">5</option>
        <option [value]="10" selected>10</option>
        <option [value]="20">20</option>
        <option [value]="50">50</option>
      </select>
    </div>

    <!-- Pagination Buttons -->
    <div>
      <button class="px-4 py-2  text-gray-400 rounded-md" [disabled]="currentPage === 1" (click)="previousPage()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>              
      </button>
      <button class="px-4 py-2  text-gray-400 rounded-md" [disabled]="currentPage >= totalPages" (click)="nextPage()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
            
      </button>
    </div>
  </div>
</div>
</div>