<div class="guide-container">
    <div class="guide-titre">
        <h4>Guides au usager</h4>
    </div>

    <mat-tab-group>
        <mat-tab label="Réunion">
          <div>
            <h3>Introduction</h3>
            <p>Bienvenue dans notre guide pour les réunions. Ce document vous aidera à comprendre comment planifier efficacement une réunion.</p>
            <h3>Instructions de Base</h3>
            <p>1. Planification de réunion</p>
            <p>Utilisez le menu "Réunion" dans la barre de menu puis sélectionnez le sous-menu "Planifier une réunion".</p>
            <p>2. Rappel de réunion</p>
            <p>Pour des réunions efficaces, il est même temps que la planification de la réunion, ainsi qu'un jour et une heure avant la réunion, par l'envoi d'un email automatiquement ou par contact (manual).</p>
            <h3>FAQ</h3>
            <p>Comment planifier une réunion ?</p>
            <p>Dans l'onglet "Planifier une réunion", lancer les informations précises (préparer des réunions planifiées) et cliquer sur le bouton planifier</p>
            <h3>Conseils Pratiques</h3>
            <p>- Testez votre connexion Internet avant de planifier une réunion pour le rappel de réunion par mail</p>
            <p>- Utilisez les e-mails exacts de chaque participant en membre de la DSP est accessible pour le rappel de réunion</p>
          </div>
        </mat-tab>
        <mat-tab label="Enregistrement des informations">
          <div>
            <h3>Introduction</h3>
            <p>Ce guide est conçu pour aider les utilisateurs à insérer des données dans le système de manière efficace et correcte.</p>
            <h3>Instructions de Base</h3>
            <p>1. Accéder au formulaire de saisie de données</p>
            <p>Accédez à la section "données" de la DSP, puis sélectionnez "Créer".</p>
            <p>2. Remplir le formulaire de saisie</p>
            <p>Complétez les champs obligatoires (*) et les champs optionnels si vous avez les informations nécessaires.</p>
            <h3>FAQ</h3>
            <p>Que faire si je rencontre une erreur lors de la saisie des données ?</p>
            <p>Veuillez vérifier les champs obligatoires et les remplir correctement.</p>
            <p>Puis-je modifier les données après les avoir soumises ?</p>
            <p>Oui, vous pouvez modifier les données en accédant à la section "Modifier les données" dans le menu principal.</p>
            <h3>Conseils Pratiques</h3>
            <p>- Assurez-vous de vérifier les données avant de les soumettre.</p>
            <p>- Veuillez vérifier que vous disposez des autorisations nécessaires pour enregistrer des données dans ce système.</p>
          </div>
        </mat-tab>
        <mat-tab label="Contactez-nous">
          <div>
            <h3>Contactez-nous</h3>
            <p>Pour toute question ou demande d'assistance, veuillez me contacter à l'adresse suivante : leopardjuliocesar&#64;gmail.com</p>
            <br><br>
            <form>
              <div>
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom">
              </div>
              <div>
                <label for="email">adresse e-mail</label>
                <input type="email" id="email" name="email">
              </div>
              <div>
                <label for="sujet">Sujet</label>
                <input type="text" id="sujet" name="sujet">
              </div>
              <div class="message-container">
                <label for="message">Message</label>
                <textarea id="message" name="message"></textarea>
              </div>
              <button type="submit">Soumettre</button>
            </form>
            <div class="social-icons">
              <a href="https://web.facebook.com/RiuzakiLLL"><mat-icon>facebook</mat-icon> </a>
              <li>
                <mat-icon matTooltip="leopardjuliocesar@gmail.com">mail</mat-icon>
              </li>
              <li>
                <mat-icon matTooltip="0346154719">phone</mat-icon>
              </li>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
</div>