/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'CustomFont';
    src: url('/fonts/cassandra-font/CassandraPersonalUseRegular-3BjG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'CustomFont2';
  src: url('/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  overflow: hidden;
  scrollbar-width: none;
}