<div class="animation-container">

  <div class="first-cicle" data-aos="fade-right" data-aos-duration="1500" ></div>

  <div class="second-cicle" data-aos="fade-down" data-aos-duration="1500" ></div>

  <div class="third-cicle" ></div>
  <div class="fourth-cicle" data-aos="fade-down" data-aos-duration="1500" ></div>

  <div class="contenue"> 
    <h2 class="title">
      Archivage des donnees 
    </h2>
  <p>
    Solutions avancées de visualisation des données et de gestion des courriers pour améliorer l'efficience des processus
  </p>
  <div class="example-button-container">
    <button mat-fab extended routerLink="archivage-courrier">
      courier
    </button>
  </div>
  </div>

</div>