<div class="h-full w-full flex flex-col justify-center items-center z-1 backdrop-blur-sm">
    <div class="h-32 w-full"></div>
    <div class="flex flex-1 w-full justify-center items-center z-6">
        <div class="h-full w-full p-3 md:p-10 lg:w-1/2 flex flex-col gap-6 bg-white/10 backdrop-blur-lg z-20">
            <div class="flex flex-col gap-4">
                <div>
                    <span class="font-bold text-4xl text-start">
                        Plateforme de gestion des données avec visualisation et archivage simplifiés.
                    </span>
                </div>
                <div>
                    <span class="font-normal text-lg text-start">
                        Grâce à une interface intuitive et des outils de visualisation avancés, cette plateforme assure une gestion efficace et une conservation optimale des données.
                    </span>
                </div>
            </div>

            <div *ngIf="user">
                <h2>Welcome, {{ finaluser.numero }}</h2>
                <p>Account Type: {{ finaluser.accountType }}</p>
                <p>Account Status: {{ finaluser.accountStatus }}</p>
            </div>
              

            <div class="flex justify-between gap-4">
                <button class="w-1/2 h-11 p-4 bg-white rounded-full flex shadow-md shadow-blue-800 justify-between items-center" routerLink="liste-courrier" routerLink="/archivage-courrier">
                    <span class="font-bold">Courrier</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 font-bold">
                        <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
                    </svg>
                </button>
                <button class="w-1/2 h-11 p-4 rounded-full bg-gradient-to-r from-amber-300 to-amber-400 flex shadow-md shadow-amber-300 font-bold justify-between items-center" routerLink="liste-pta">
                    <span class="text-black">Pta</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-black font-bold">
                        <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="h-32 w-full"></div>
</div>

