
.premier-container-c {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color:  #1e40af;
  position: absolute;
  top: 20%;
  left: 45%;

}

.deuxieme-container-c {
  z-index: 100;
  width: 380px;
  height: 380px;
  border-radius:  50%;
  background-color: #e5e7eb;
  position: absolute;
  top: 20.5%;
  left: 50%;
  transform: rotate(-25deg);
}

.deuxieme-container-cc {
  z-index: 1000;
  width: 380px;
  height: 380px;
  border-radius:  50%;
  background-color: #104cc437;
  position: absolute;
  top: 20%;
  left: 35%;
  transform: rotate(-30deg);
  backdrop-filter: blur(2px);
  
}


.premier-container {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color:  #f59e0b;
  position: absolute;
  top: 20%;
  left: 20%;

}

.deuxieme-container{
  z-index: 100;
  width: 360px;
  height: 380px;
  border-radius:  50%;
  background-color: #e5e7eb;
  position: absolute;
  top: 15%;
  left: 20%;
  transform: rotate(-30deg);
}

